n8n/workflows/SGZYLqEPjvwcWDCk.json
{"updatedAt":"2025-12-30T10:47:16.850Z","createdAt":"2025-12-30T10:47:16.850Z","id":"SGZYLqEPjvwcWDCk","name":"Hall Laundry","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,272],"id":"3f2aac41-484e-4aeb-8139-20e8b29c5706","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-576,272],"id":"b18ce5b3-f5fa-447c-927e-c8633918982d","name":"Schedule Trigger"},{"parameters":{"url":"https://misc.cityu-sro.hk/WMStatus/WMStatus.aspx","sendQuery":true,"queryParameters":{"parameters":[{"name":"HallNo","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,288],"id":"57f00d01-a356-4048-a8be-7b1e0ec1c8d3","name":"HTTP Request"},{"parameters":{"jsCode":"const U5 = [\n    { id: \"SR01\", code: \"01\", abbr: \"Hall 1\", name: \"Jockey Club Humanity Hall\", compound: \"KLT\" },\n    { id: \"SR02\", code: \"02\", abbr: \"Hall 2\", name: \"HSBC Prosperity Hall\", compound: \"KLT\" },\n    { id: \"SR03\", code: \"03\", abbr: \"Hall 3\", name: \"Alumni Civility Hall\", compound: \"KLT\" },\n    { id: \"SR04\", code: \"04\", abbr: \"Hall 4\", name: \"Jockey Club Academy Hall\", compound: \"KLT\" },\n    { id: \"SR05\", code: \"05\", abbr: \"Hall 5\", name: \"Chan Sui Kau Hall\", compound: \"KLT\" },\n    { id: \"SR06\", code: \"06\", abbr: \"Hall 6\", name: \"Lee Shau Kee Hall\", compound: \"KLT\" },\n    { id: \"SR07\", code: \"07\", abbr: \"Hall 7\", name: \"Jockey Club Harmony Hall\", compound: \"KLT\" },\n    { id: \"SR08\", code: \"08\", abbr: \"Hall 8\", name: \"Yip Yuen Yuk Hing Hall\", compound: \"KLT\" },\n    { id: \"SR09\", code: \"09\", abbr: \"Hall 9\", name: \"Sir Gordon and Lady Ivy Wu Hall\", compound: \"KLT\" },\n    { id: \"SR10\", code: \"10\", abbr: \"Hall 10\", name: \"Student Residence Hall 10\", compound: \"KLT\" },\n    { id: \"SR11\", code: \"11\", abbr: \"Hall 11\", name: \"Student Residence Hall 11\", compound: \"KLT\" },\n    { id: \"SR12-SR13\", code: \"12\", abbr: \"Hall 12 & 13\", name: \"Student Residence Hall 12 & 13\", compound: \"MOS\" },\n    { id: \"SR14\", code: \"14\", abbr: \"Hall 14\", name: \"Student Residence Hall 14\", compound: \"MOS\" },\n    { id: \"SR15\", code: \"15\", abbr: \"Hall 15\", name: \"Student Residence Hall 15\", compound: \"MOS\" },\n    { id: \"SR16\", code: \"16\", abbr: \"Hall 16\", name: \"Student Residence Hall 16\", compound: \"MOS\" },\n    { id: \"SR17\", code: \"17\", abbr: \"Hall 17\", name: \"Student Residence Hall 17\", compound: \"MOS\" }\n];\n\nreturn U5.map(h => ({ json: { code: h.code }}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,272],"id":"90eb2abc-a646-49f0-8e56-a6af88d4f246","name":"Hall Code List"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst output = [];\n\nfor (const item of $input.all()) {\n  output.push({\n    json: {\n      meta: {\n        hallCode: $('Loop Over Items').first().json.code,\n        machineType: item.json[\"Machine Type\"],\n        machineId: item.json[\"Machine ID\"]\n      },\n      status: item.json.Status,\n      leftTime: parseInt(item.json[\"Left Time\"], 10) || 0,\n      ts: new Date(item.json[\"Last Update\"])\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,288],"id":"da33355a-ad7d-4c27-b3e2-4f68168a83b8","name":"Shape the json"},{"parameters":{"operation":"insert","collection":"=machine_status","fields":"={{ Object.keys($json).join(\",\") }}\n","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[624,288],"id":"7897a2cc-2d23-4715-9088-9e46a2bb81fe","name":"Insert document","credentials":{"mongoDb":{"id":"fDa9HWeiLnIptSsY","name":"MongoDB account"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Hall Code List","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Shape the json","type":"main","index":0}]]},"Hall Code List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Shape the json":{"main":[[{"node":"Insert document","type":"main","index":0}]]},"Insert document":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"1c48a485cefeba4ec80a0f0eed372d11003e8edee9b977cd0658bf160cd5f733"},"pinData":{},"versionId":"7ee3d992-43da-42a5-a64f-7164317b0dbd","versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-30T10:47:16.869Z","createdAt":"2025-12-30T10:47:16.869Z","role":"workflow:owner","workflowId":"SGZYLqEPjvwcWDCk","projectId":"yeLIkQB1tgcwU0bR","project":{"updatedAt":"2025-12-30T10:46:51.377Z","createdAt":"2025-12-30T10:46:37.761Z","id":"yeLIkQB1tgcwU0bR","name":"Jason Lam <jasonlamufo@gmail.com>","type":"personal","icon":null,"description":null}}]}