n8n/workflows/SGZYLqEPjvwcWDCk.json
{"updatedAt":"2026-01-01T10:33:20.000Z","createdAt":"2025-12-30T10:47:16.850Z","id":"SGZYLqEPjvwcWDCk","name":"Hall Laundry","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,336],"id":"3f2aac41-484e-4aeb-8139-20e8b29c5706","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-576,336],"id":"b18ce5b3-f5fa-447c-927e-c8633918982d","name":"Schedule Trigger"},{"parameters":{"url":"https://misc.cityu-sro.hk/WMStatus/WMStatus.aspx","sendQuery":true,"queryParameters":{"parameters":[{"name":"HallNo","value":"={{ $json.code }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[96,192],"id":"57f00d01-a356-4048-a8be-7b1e0ec1c8d3","name":"HTTP Request","executeOnce":false},{"parameters":{"jsCode":"const U5 = [\n    { id: \"SR01\", code: \"01\", abbr: \"Hall 1\", name: \"Jockey Club Humanity Hall\", compound: \"KLT\" },\n    { id: \"SR02\", code: \"02\", abbr: \"Hall 2\", name: \"HSBC Prosperity Hall\", compound: \"KLT\" },\n    { id: \"SR03\", code: \"03\", abbr: \"Hall 3\", name: \"Alumni Civility Hall\", compound: \"KLT\" },\n    { id: \"SR04\", code: \"04\", abbr: \"Hall 4\", name: \"Jockey Club Academy Hall\", compound: \"KLT\" },\n    { id: \"SR05\", code: \"05\", abbr: \"Hall 5\", name: \"Chan Sui Kau Hall\", compound: \"KLT\" },\n    { id: \"SR06\", code: \"06\", abbr: \"Hall 6\", name: \"Lee Shau Kee Hall\", compound: \"KLT\" },\n    { id: \"SR07\", code: \"07\", abbr: \"Hall 7\", name: \"Jockey Club Harmony Hall\", compound: \"KLT\" },\n    { id: \"SR08\", code: \"08\", abbr: \"Hall 8\", name: \"Yip Yuen Yuk Hing Hall\", compound: \"KLT\" },\n    { id: \"SR09\", code: \"09\", abbr: \"Hall 9\", name: \"Sir Gordon and Lady Ivy Wu Hall\", compound: \"KLT\" },\n    { id: \"SR10\", code: \"10\", abbr: \"Hall 10\", name: \"Student Residence Hall 10\", compound: \"KLT\" },\n    { id: \"SR11\", code: \"11\", abbr: \"Hall 11\", name: \"Student Residence Hall 11\", compound: \"KLT\" },\n    { id: \"SR12-SR13\", code: \"12\", abbr: \"Hall 12 & 13\", name: \"Student Residence Hall 12 & 13\", compound: \"MOS\" },\n    { id: \"SR14\", code: \"14\", abbr: \"Hall 14\", name: \"Student Residence Hall 14\", compound: \"MOS\" },\n    { id: \"SR15\", code: \"15\", abbr: \"Hall 15\", name: \"Student Residence Hall 15\", compound: \"MOS\" },\n    { id: \"SR16\", code: \"16\", abbr: \"Hall 16\", name: \"Student Residence Hall 16\", compound: \"MOS\" },\n    { id: \"SR17\", code: \"17\", abbr: \"Hall 17\", name: \"Student Residence Hall 17\", compound: \"MOS\" }\n];\n\nreturn U5.map(h => ({ json: { code: h.code }}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,336],"id":"90eb2abc-a646-49f0-8e56-a6af88d4f246","name":"Hall Code List"},{"parameters":{"assignments":{"assignments":[{"id":"4cb76c76-6669-40e9-8a60-e0212f2ad83d","name":"Left Time","value":"={{ parseInt($json['Left Time']) }}","type":"number"},{"id":"bd4b31a2-8133-4cff-b96f-eec83eb844b9","name":"Hall Code","value":"={{ $('Loop Over Items').item.json.code }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,192],"id":"46252aca-33be-4833-8420-f338de522e67","name":"ParseInt + Insert Hall Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b5dd9da-869b-43ab-8669-82d36360815e","leftValue":"={{ $json['Left Time'] }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,192],"id":"2b21aacc-67e5-4477-87fa-0a7d8f4996fb","name":"If Left Time > 0"},{"parameters":{"assignments":{"assignments":[{"id":"8dcc2fa1-eb2a-488e-817c-3b8aa920ad1e","name":"influxPayload","value":"={{ $input.all().map(item => `laundry,hall_code=${item.json[\"Hall Code\"]},type=${item.json[\"Machine Type\"]},machine_id=${item.json[\"Machine ID\"]},status=${item.json[\"Status\"]} left_time=${item.json[\"Left Time\"]}i`).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,192],"id":"a6d3ca69-ec96-499f-90a1-a8d37c7e3795","name":"Parse as line protocol","executeOnce":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:8181/api/v3/write_lp?db=cityu_laundry_db&precision=second","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer apiv3_XcOUQGyOY75Lpe1faLAq2cSSyoWhjnwtm0QAXDD9x7nAKLjXzbBe_mIfIH7Rz7krBqfwPp1fppel5TojNqdMkg"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/plain","body":"={{ $json.influxPayload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[992,272],"id":"ab63c9d0-750a-414c-836a-a2acfa78dee9","name":"Save to InfluxDB"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Hall Code List","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"ParseInt + Insert Hall Code","type":"main","index":0}]]},"Hall Code List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ParseInt + Insert Hall Code":{"main":[[{"node":"If Left Time > 0","type":"main","index":0}]]},"If Left Time > 0":{"main":[[{"node":"Parse as line protocol","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Parse as line protocol":{"main":[[{"node":"Save to InfluxDB","type":"main","index":0}]]},"Save to InfluxDB":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true,"instanceId":"1c48a485cefeba4ec80a0f0eed372d11003e8edee9b977cd0658bf160cd5f733"},"pinData":{},"versionId":"c577af8b-7cb4-4e18-b8d1-d38b14e2974b","versionCounter":19,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-30T11:17:46.193Z","createdAt":"2025-12-30T11:17:46.193Z","role":"workflow:owner","workflowId":"SGZYLqEPjvwcWDCk","projectId":"yeLIkQB1tgcwU0bR","project":{"updatedAt":"2025-12-30T10:46:51.377Z","createdAt":"2025-12-30T10:46:37.761Z","id":"yeLIkQB1tgcwU0bR","name":"Jason Lam <jasonlch.510@gmail.com>","type":"personal","icon":null,"description":null}}]}